@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");

body {
  background: #f0fbff;
  color: #25161b;
  font-family: Noto Sans;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 1.3;
  position: relative;
  right: -93px;
  top: 10px;
}

.container {
  background: #bccad6;
  border: 1px solid rgba(32, 22, 27, 0.25);
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  max-width: 800px;
  min-width: 200px;
}

.city,
.date-time,
.units,
.description {
  font-size: 20px;
}

.location-dt {
  margin: 40px auto 30px auto;
}

.weather-details {
  font-size: 13px;
  opacity: 90%;
}

.current {
  margin: 30px auto 10px auto;
  text-align: center;
}

.current-contents-center {
  font-size: 110px;
  font-weight: bold;
}

.units {
  position: relative;
  top: -60px;
}
